header{
    padding: 10px;
}
.container{
    padding: 0;
}
button{
    background-color: #0AD;
    font: outline;
    padding: 10px;
    font-size: 1.2em;
    
}
button:active{
    background-color: #069;
}
button:hover{
    background-color: #0daddd;
}
p{
    font-size: 1.2em;
}
